@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding:0;
    font-size: 18px;
    font-family: 'poppins';
    line-height: 20px;
    color:#0c63e7;
    background-color:#ffffff; 
}



a {
    color: #fff;
    font-weight: 500;

}
a:hover {
    color:blue;
}
.nav-link {
    color:#ffff;
    text-align: end;
}

.nav-item{
    position:sticky;
    text-align: end;
    

}


.header-background {
    position:static;
    display: block;
    overflow: visible;
    top:0;
    height: auto;
    min-height: 0px;
    padding-bottom: 0px;
    background-color: #0a85ed;
    flex-direction: column;
    background-position: 0px opx, 100% 50%;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit:fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
}

.sticky-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
 
}


.navbar .navbar-brand a {
    position: sticky;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
.navbar-brand {
    position: sticky;
    font-size: 2.2rem;
    color:white;

}

.navbar-toggler {
    position: sticky;
   border: none;
    padding: 10px 6px;
    outline: none;

}
.navbar-toggler span {
    position: sticky;
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background:white;
}

.navbar-toggler span + span {
    position: sticky;
    margin-top: 4px;
    width: 22px;
 }

 .navbar-toggler span + span +span {
    position: sticky;
    width: 22px;
 }

 .navbar-expand-lg .navbar-nav .nav-link {
    position: sticky;
     padding: 1.4rem 1rem;
     font-size: 1.2rem;
     position: relative;
     font-weight: bold;
 }
 

.dropdown-menu {
    background-color: transparent;

}
.dropdown-item{
    color:white;
}
.btn {
    background-color: rgb(17, 70, 245);
    color: white;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}
.btn:hover {
    background-color: rgb(60, 99, 226);
    color: white;
   
}

#navbarSupportedContent{
    text-align: right;
    padding-left: 40%;
}


.heading {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #ffff;
    margin-top: 25px;
    padding-top: 8%;
   border-radius: 30%;
    
}
.headline{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 260px;


}
 
.column-right {
    min-height: 750px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#07c8f9));
    background-image: linear-gradient(180deg, transparent, transparent);
}
.img-fluid{
   max-width: 100%;
    max-height: 1000px;
    background-position:0px 0px 100% 50% ;
    background-size:  cover;
    background-attachment:scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
    margin-top: 20px;
    image-orientation: flip;
}
.column-left .section-title {
    margin-top: 0px;
    padding: 5rem 2rem 0rem 5rem;
    font-size: 4rem;
    color: blue;
    font-weight: bold;
    text-align: center;


}
.paragraph{
    text-align:justify;
}

.column-left .paragraph {
    margin-top: 0px;
    padding: 0rem 5rem 0rem 5rem;
    font-size: 1.25rem;
    color:#0d41e1;
   line-height: 1.4;
}

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 2%;
}

.text-centre {
  
   
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #0c63e7;
padding-bottom: 4%;


}
.card-title{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2%;
}
.card-text{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.card-img  {
    height: 300px;
    transition: 1s;

}
.inner {
    overflow: hidden;
}
.card-img:hover{
    transform: scale(1.4);
    transition: 0.2s;
}


.container-fluid-bttn {
margin-top: 10px ;
margin-bottom: 100px;
margin-left: 20px;
padding-right: 20%;
padding-left: 20%;
}




.for {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    text-align:center;
    color: #0d5ace;


}



.log{
    margin-top: 80px;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-align:center;
    color: #1f6de2;
    margin-bottom: 5%;


}

 .cord {
        height:250px
    
    }
    
.b{
        padding: 10px;
        border-radius:25px;
}

.footer{
  

    background-color: blue;
    background-position: center;
}


#img-team{
    max-height: 100%;
    padding-top: 5%;
    padding-right: 5%;

}
#team{
    max-height: 700px;
}

.team-meb {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5%;
  
}
#img-linkedin{
    max-height: 5%;
    padding-left: 30%;
}


.start{
    text-align: center;
    font-size: 3rem;
    padding-top: 15%;
    padding-bottom: 10%;
}


#ssbtn {
    margin-top: 100px;
    margin-right: 1px;
    margin-left: 360px;
   
 
   }  

  #image-login{
      height: 100%;
  }
